/*
Notification Template - V1.0
Team - Mine Web Design
Developed @ 05-01-2016
follow us @minewebdesignn (twitter)	
*/

/*Custom CSS*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Notification Template */

.notify{
	font-family: 'Hind Siliguri', open sans;
}
.title-notify{
	padding: 0px 0px 15px;
	text-align: center;
}
.panel-basic{
	border-color: #ddd;
}
.panel-basic>.panel-heading {
	border-color: #ddd;
	padding: 20px 15px;
}
.panel-heading.soft	{
	background : #03A9F4;
}
.panel-heading.grip	{
	background : #F44336;
}
.panel-heading.hard	{
	background : #E91E63;
}
.notify-icon{
    color: #fff;
    padding: 0px 4px;
    font-size: 1.7rem;
}
.notify-title-heading .heading{
    font-family: 'Hind Siliguri', open sans;
    font-size: 1.8rem;
    color: #F0F8FF;
    padding: 0px 3px;
    font-weight: 500;
}
.notify-title-heading .close{
	color: #F0F8FF;
	opacity:1;
	font-weight:normal;
}
.notify-title-description{
	color: #F0F8FF;
	padding: 0px 30px;
}
.notify-description {
    text-align: left;
    padding: 20px 0px;
}
.notify-description p{
    text-align: left;
    padding: 0px 45px;
	color: #7D7A7A;
}


/* Copyright */	
.copyright{
	color: #ddd;
}