<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Job Notifications</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600,500,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Pricing Table</a> -->
        </div>
      </div>
    </nav>

<style>


</style>

    <div class="container">

	  <h1 class="title-notify">Notifications for the <%= jobName %></h1>
	  
	<% notifications.forEach(function(notification) { %>
      <div class="row notify"><div class="col-sm-2"></div>
        <div class="col-sm-8">
			<div class="panel panel-basic notify-panel">
				<div class="panel-heading notify-heading <%= notification.type %>"> <!-- Notification Panel Title with Grip -->
						<div class="notify-title-heading">
							<span class="glyphicon glyphicon-exclamation-sign notify-icon" aria-hidden="true"></span>
							<span class="heading">Notify </span>
							<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="notify-title-description">
							<span><%= notification.subject %></span>
						</div>
				</div>		
				<div class="notify-description">
					<p><%= notification.description %></p>	
				</div>					
			</div>
        </div>
		
		<div class="col-sm-2"></div></div>

	<% }); %>
		
     
		<hr>
      <footer>
        <p class="copyright">&copy; Business of Interest.</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>	
  </body>
</html>
